@import "../utilities/variables";

footer {
	background: $white;
	padding: 40px 40px;
	margin-top: 60px;
	.footer-text {
		margin: 25px 0 0;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		a {
			color: inherit;
		}
	}
}
