@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

$font-color: #ffffff;
$font-hover: #000000;
$header-bg: #3c54a0;
$button: #ff9000;
$footer-bg: #b8c1e1;
$package-hover: #fdf6ec;
$font-family: "Open Sans", serif;
$break-xs: "only screen and (min-width: 768px)";
$break-sm: "only screen and (max-width: 768px)";
$break-md: "only screen and (max-width: 992px)";
$break-lg: "only screen and (max-width: 1200px)";
