body,
html {
	margin: 0;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}

	.slider-wrapper {
		position: relative;
		#slider {
			.slider-image {
				max-width: 100%;
				height: auto;
				position: absolute;
				display: none;
				&.active {
					max-width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}
}

.arrow {
	@extend .container;
	position: absolute;
	width: 100%;
	height: 390px;
	line-height: 390px;
	text-align: center;
	z-index: 2;
	box-sizing: border-box;
	color: #fff;
	opacity: 0.6;
	transition: opacity 0.1s ease;
	@media (max-width: 1200px) {
		height: 323px;
		line-height: 323px;
	}
	@media (max-width: 992px) {
		height: 250px;
		line-height: 250px;
	}
	@media (max-width: 768px) {
		height: 250px;
		line-height: 250px;
	}
	@media (max-width: 720px) {
		height: 230px;
		line-height: 230px;
	}
	@media (max-width: 660px) {
		height: 210px;
		line-height: 210px;
	}
	@media (max-width: 600px) {
		height: 190px;
		line-height: 190px;
	}
	@media (max-width: 540px) {
		height: 17px;
		line-height: 170px;
		font-size: 10px;
	}
	@media (max-width: 480px) {
		height: 150px;
		line-height: 150px;
	}
	@media (max-width: 420px) {
		height: 130px;
		line-height: 130px;
	}
	@media (max-width: 360px) {
		height: 110px;
		line-height: 110px;
		font-size: 8px;
	}
	@media (max-width: 300px) {
		height: 90px;
		line-height: 90px;
		font-size: 7px;
	}
	@media (max-width: 240px) {
		height: 70px;
		line-height: 70px;
		font-size: 6px;
	}
	&:hover {
		opacity: 0.8;
	}
	#prev-arrow {
		position: absolute;
		left: 0;
		top: 0;
		width: 100px;
		@media (max-width: 420px) {
			width: 80px;
		}
		@media (max-width: 360px) {
			width: 70px;
		}
		@media (max-width: 300px) {
			width: 60px;
		}
		@media (max-width: 240px) {
			width: 50px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	#next-arrow {
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		@media (max-width: 420px) {
			width: 80px;
		}
		@media (max-width: 360px) {
			width: 70px;
		}
		@media (max-width: 300px) {
			width: 60px;
		}
		@media (max-width: 240px) {
			width: 50px;
		}
		&:hover {
			cursor: pointer;
		}
	}
}
